.goofyHr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 4px solid #495057;
  border-radius: 2px;

  padding: 0;
  color: aliceblue;
  width: 95%;
}
.Featured {
  margin-top: -1%;
  background-color: #e1f4f3;
  -ms-transform: skewY(5deg);
  -webkit-transform: skewY(5deg);
  transform: skewY(5deg);

  padding: 10px;
}
.goofyDiv {
  margin-top: 10%;
  -ms-transform: skewY(-5deg);
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);
}
.title {
  text-align: left;
  margin-left: 3%;
}
.goofyImg {
  margin-top: 20px;
  border-radius: 10px;
  margin-bottom: 7%;
}
.goofyInfo {
  text-align: left;
  margin: auto;
}
.detailsBTn {
  margin-top: 10px;
  border-radius: 15px;
  margin-left: 10px;
}
.imgDiv {
  width: 550px;
  height: 350px;
  background-color: #edf2f4;
  border-radius: 10px;

  text-align: center;
}
